.bg-video{
    width: 100%;
    height: 100%;
    overflow: hidden;

    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;
    &__content{
        width: 100%;
        height: 100%;

        opacity: 0.15;
        
        object-fit: cover; 
        overflow: hidden;
    }
}