.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: 1.6rem; //Change for the <button> element
        border: none;
        cursor: pointer;
    }
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(#000, .2);
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(#000, .2);
    }
    &--white {
        background-color: #fff;
        color: #333;
        &::after {
            background-color: #fff;
        }
    }
    &--green {
        background-color: $Medium-Green;
        color: #fff;
        &::after {
            background-color: $Medium-Green;
        }
    }
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: 1.6rem;
        color: $Medium-Green;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $Medium-Green;
        padding: 3px;
        transition: all .2s;
    }
    &:hover {
        background-color: $Medium-Green !important;
        color: #fff;
        box-shadow: 0 1rem 2rem rgba(#000, .15);
        transform: translateY(-2px);
    }
    &:active {
        box-shadow: 0 .5rem 1rem rgba(#000, .15);
        transform: translateY(0);
    }
}