.compos {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.composition {
    position: relative;
    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 2rem;
        @include respond(tab-port) {
            position: relative;
            float: left;
            width: 33.333333%;
            box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
        }
        &--1 {
            top: -2rem;
            left: 0;
            @include respond(tab-port) {
                top: 0;
                transform: scale(1.2);
            }
        }
        &--2 {
            right: 0;
            top: 2rem;
            @include respond(tab-port) {
                top: 0;
                transform: scale(1.3);
                z-index: 100;
            }
        }
        &--3 {
            left: 20%;
            top: 10rem;
            @include respond(tab-port) {
                top: 0;
                left: 0;
                transform: scale(1.2);

            }
        }
        &:hover {
            outline: 1.5rem solid $Medium-Green;
            z-index: 15;
            box-shadow: .2rem 2.5rem 4rem rgba(0, 0, 0, 0.4);
            transform: scale(1.05) translateY(-0.5rem);
        }
    }
    &:hover &__photo:not(:hover) {
        transform: scale(0.95);
    }
}