.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    &__content {
        @include posCenter;
        width: 85%;
        background-color: #fff;
        box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.25);
        transition: all 0.4s 0.2s;
        @include respond(tab-port) {
            display: block;
        }
    }
    &__left {
        width: 33.333333%;
        display: table-cell;
        @include respond(tab-land) {
            width: 40%;
        }
        
    }
    &__right {
        width: 66.6666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
        @include respond(tab-port) {
            display: block;
        }
    }
    &__img {
        width: 100%;
        display: block;
        overflow: hidden;
        @include respond(tab-port) {
            display: inline-block;
            width: 50%;
        }
    }
    &__text {
        margin-bottom: 4rem;
        font-size: 1.4rem;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid #eee;
        -webkit-hyphens: auto;
        hyphens: auto;
        @include respond(tab-land) {
            column-count: 1;
            column-gap: 0;
            column-rule: none;
            margin-bottom: 2rem;
        }
    }
    &:target {
        opacity: 1;
        visibility: visible;
    }
    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    &__close {
        &:link,
        &:visited {
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
            text-decoration: none;
            font-size: 3rem;
            color: #333;
            line-height: 1;
            transition: all 0.3s;
        }
        &:hover {
            color: $Medium-Green;
            transform: scale(1.05);
        }
    }
}